@page
@model Andrey.Pages.Lessongs.DeleteModel

@{
    ViewData["Title"] = "Удалить урок";
}

<h1>Delete</h1>

<h3>Вы уверены, что хотите удалить урок?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Заголовок
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lessong.Name)
        </dd>
        <dt class="col-sm-2">
            Курс
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lessong.Course.Name)
        </dd>
        <dt class="col-sm-2">
            Создан
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lessong.Created)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Lessong.LessongID" />
        <input type="submit" value="Уверен, удаляем!" class="btn btn-danger" />
    </form>
</div>
