@page
@model Andrey.Pages.Lessongs.EditModel

@{
    ViewData["Title"] = "Edit";
}
<style>
.hidn{
    visibility:hidden;
}
</style>

<h1>Edit</h1>

<h4>Lessong</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Lessong.LessongID" />
            <div class="form-group">
                <label>Заголовок</label>
                <input asp-for="Lessong.Name" class="form-control" />
                <span asp-validation-for="Lessong.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
            <div class = "hidn">
                <label asp-for="Lessong.CourseID" class="control-label"></label>
                <select asp-for="Lessong.CourseID" class="form-control" asp-items="ViewBag.CourseID"></select>
                <span asp-validation-for="Lessong.CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lessong.Created" class="control-label"></label>
                <input asp-for="Lessong.Created" class="form-control" />
                <span asp-validation-for="Lessong.Created" class="text-danger"></span>
            </div>
            </div>
            
            <div class="form-group">
                <label asp-for="Lessong.Content" class="control-label"></label>
                <textarea asp-for="Lessong.Content" rows="15" class="form-control"></textarea>
                <span asp-validation-for="Lessong.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
