@page
@model Andrey.Pages.FinishTestModel

@{
    ViewData["Title"] = "Выходной тест";
}

<h1>Выходной тест</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppMaintenance.AttrContent)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.AppMaintenance.AttrContent)
        </dd>
    </dl>
</div>
