@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на страницу ШДОТ!</h1>
    <p>Здесь Вы можете просматривать материалы уроков и скачать сертификат.</p>
    <p></p>
    <p>Для просмотра материалов <a href = "">войдите в личный кабинет</a>.</p>
    <p></p>
</div>
