@page
@model Andrey.Pages.LoginModel

@{
    ViewData["Title"] = "Вход в личный кабинет";
}

<h1>Войти в личный кабинет</h1>

<div>
    <hr />
        <form method="post">
            <div class="form-group">
                <label>Логин</label>
                <input type="text" asp-for="uData.User.Login" />
                <span asp-validation-for="uData.User.Login" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label>Пароль</label>
                <input type="password" asp-for="uData.User.Password"/>
                <span asp-validation-for="uData.User.Password" class="text-danger"></span>
            </div>
            <br />
            <div>
                <input type="submit" value="Пустите меня!" class="btn btn-primary" />
            </div>
        </form>
    <hr />
</div>

