@page
@model Andrey.Pages.NoAccessGrantedModel
@{
    ViewData["Title"] = "Вам сюда нельзя :(";
}
<h3>Ой! Доступ к этой странице <strong>запрещен</strong>. </h3>
<p>
    
</p>
<p>
    Если кто-то спросит - Вы <strong>ничего не видели</strong>.
</p>
