@page
@model Andrey.Pages.Sertificates.CreateModel

@{
    ViewData["Title"] = "Зачислить студента на курс";
}

<h1>Зачислить студента на курс</h1>

<h4>Шаблон сертификата будет создан автоматически.</h4>
<h4>Сертификат будет сформирован на выдачу студенту при выставлении даты.</h4>
<h4>Не указывайте дату, если не выдаете сертификат на данный момент.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Студент</label>
                <select asp-for="Sertificate.StudentID" class ="form-control" asp-items="ViewBag.StudentID"></select>
            </div>
            <div class="form-group">
                <label>Курс</label>
                <select asp-for="Sertificate.CourseID" class ="form-control" asp-items="ViewBag.CourseID"></select>
            </div>
            <div class="form-group">
                <label>Создан</label>
                <input type = "date" asp-for="Sertificate.Created" class ="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить студента к курсу" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">К списку сертификатов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
