@page
@model Andrey.Pages.Sertificates.DeleteModel

@{
    ViewData["Title"] = "Удалить сертификат";
}

<h1>Снять студента с курса</h1>

<h3>Студент будет отчислен с курса. Сертификат будет удален.</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ФИО студента
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sertificate.Student.User.FullName)
        </dd>
        <dt class="col-sm-2">
            Логин студента
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sertificate.Student.User.Login)
        </dd>
        <dt class="col-sm-2">
            Курс
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sertificate.Course.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Sertificate.SertificateID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">К списку сертификатов</a>
    </form>
</div>
