@page
@model Andrey.Pages.Sertificates.DetailsModel

@{
    ViewData["Title"] = "Сертификат";
}

<style type="text/css">
.bgimg {
    background-image: url('../../wwwroot/images/Scan_0002.jpg');
}
</style>

<h1>Сертификат</h1>

<div class="bgimg">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ФИО студента
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sertificate.Student.User.FullName)
        </dd>
        <dt class="col-sm-2">
            Название курса
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sertificate.Course.Name)
        </dd>
        <dt class="col-sm-2">
            Дата сертификата
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sertificate.Created)
        </dd>
    </dl>
    <img src = "../../wwwroot/images/Scan_0002.jpg"  alt="fck u">
</div>
<div>
</div>

