@page
@model Andrey.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Удалить запись о студенте";
}

<h1>Пользователь перестанет распознаваться как студент.</h1>

<h4>Сертификаты студента также будут удалены.</h4>
<h4>Хотите продолжить?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ФИО
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.User.FullName)
        </dd>
        <dt class="col-sm-2">
            Логин
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.User.Login)
        </dd>

    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Student.StudentID" />
        <input type="submit" value="Удалить запись о студенте" class="btn btn-danger" /> |
        <a asp-page="./Index">К списку студентов</a>
    </form>
</div>
