@page
@model Andrey.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Студенты";
}

<h1>Список студентов</h1>

<p>
    <a asp-page="Create">Добавить студента из списка пользователей</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Логин
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Login)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.StudentID">Удалить</a>
                <a asp-page="./Error" asp-route-id="@item.StudentID">Создать сертификат</a>
            </td>
        </tr>
}
    </tbody>
</table>
