@page
@model Andrey.Pages.Teachers.DeleteModel

@{
    ViewData["Title"] = "Удалить учителя";
}

<h1>Удалить запись о учителе</h1>

<h3>Этот пользователь больше не будет распознаваться как учитель.</h3>
<h4>Удаление не будет произведено, если для данный учитель назначен на один или несколько курсов.</h4>
<h4>Хотите продолжить?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Информация о учителе
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Description)
        </dd>
        <dt class="col-sm-2">
            ФИО учителя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.User.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Teacher.TeacherID" />
        <input type="submit" value="Вывести учителя из должности" class="btn btn-danger" /> |
        <a asp-page="./Index">К списку учителей</a>
    </form>
</div>
