@page
@model Andrey.Pages.Teachers.IndexModel

@{
    ViewData["Title"] = "Учителя";
}

<h1>Список учителей ШДОД</h1>

<p>
    <a asp-page="Create">Ввести нового учителя в должность</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ФИО учителя
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teacher) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TeacherID">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.TeacherID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.TeacherID">Вывести из должности</a>
            </td>
        </tr>
}
    </tbody>
</table>
