@page
@model Andrey.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Новый пользователь";
}

@if (Model.UserData != null)
{
    <h1>Добавить нового пользователя</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Фамилия</label>
                    <input asp-for="User.Surname" class="form-control" />
                    <span asp-validation-for="User.Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Имя</label>
                    <input asp-for="User.Name" class="form-control" />
                    <span asp-validation-for="User.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Отчество</label>
                    <input asp-for="User.MidName" class="form-control" />
                    <span asp-validation-for="User.MidName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Логин</label>
                    <input asp-for="User.Login" class="form-control" />
                    <span asp-validation-for="User.Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input asp-for="User.Password" class="form-control" />
                    <span asp-validation-for="User.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Этот пользователь будет администратором</label>
                    <input type = "checkbox" asp-for="User.IsAdmin"/>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Создать пользователя" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">К списку пользователей</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
