@page
@model Andrey.Pages.Maintenance.EditModel

@{
    ViewData["Title"] = "Редактировать страницу";
}

<h1>Редактируем контент страницы сайта</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppMaintenance.ID" />
            <div class="form-group">
                <label>Тэг страницы, которую редактируем</label>
                <input disabled="disabled" asp-for="AppMaintenance.AttrID" class="form-control" />
                <span asp-validation-for="AppMaintenance.AttrID" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label>Содержимое</label>
                    <textarea rows="8"  asp-for="AppMaintenance.AttrContent" class="form-control"></textarea>
                    <span asp-validation-for="AppMaintenance.AttrContent" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
