@page
@model Andrey.Pages.Maintenance.IndexModel

@{
    ViewData["Title"] = "Страницы сайта";
}

<h1>Страницы сайта</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Тэг страницы
            </th>
            <th>
                Содержимое сейчас
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AppMaintenance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttrID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttrContent)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a>
            </td>
        </tr>
}
    </tbody>
</table>
