@page
@model Andrey.Pages.Courses.DeleteModel

@{
    ViewData["Title"] = "Удалить курс";
}

<h1>Удалить курс</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Course.CourseID" />
        <input type="submit" value="Удалить курс" class="btn btn-danger" /> |
        <a asp-page="./Index">К списку курсов</a>
    </form>
</div>
